<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="alert">Index page</div>
    <div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Vehicles", "Vehicles", "Home")</li>
                <li>@Html.ActionLink("Autoparts", "Autoparts", "Home")</li>
                <li>@Html.ActionLink("Services", "Services", "Home")</li>
            </ul>
        </div>
    </div>
     @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

