@model IEnumerable<Tune_Up.Models.Autopart>

<p>
    <a class="btn btn-outline-primary" href="/Autopart/AddAutopart">Add</a>
</p>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAutopart", "Autopart", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "DeleteAutopart", "Autopart", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
<div>
    <a class="btn btn-outline-info" href="/Home/Index">Back</a>
</div>
