@model IEnumerable<Tune_Up.Models.ServiceHolder>
<p>
    <a class="btn btn-outline-primary" href="/Service/AddService">Add</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service.ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Master)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Service.ServiceDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Service.Master
                </td>
                <td>
                    @{
                        var v = item.Vehicle == null ? null : item.Vehicle.Name;
                    }
                    @v
                </td>
                <td>
                    <a href="/Service/EditService/@item.Service.Id" class="btn btn-outline-success"><img src="~/Content/Icons/pencil.svg" alt="Edit"/></a>
                    <a href="/Service/DeleteService/@item.Service.Id" class="btn btn-outline-danger"><img src="~/Content/Icons/trashcan.svg" alt="Delete"/></a>
                </td>
            </tr>
        }
</table>

<a class="btn btn-outline-info" href="/Home/Index">
    Back
</a>
