@model IEnumerable<Tune_Up.Models.Service>
<p>
    <a class="btn btn-outline-primary" href="/Service/AddService">Add</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Master)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autopart)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ServiceDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.Master
            </td>
            <td>
                @item.Distance
            </td>
            <td>
                @item.Vehicle
            </td>
            <td>
                @item.Autopart
            </td>
            <td>
                @Html.ActionLink("Edit", "EditService", "Service", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "DeleteService", "Service", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
<div>
    <a class="btn btn-outline-info" href="/Home/Index">Back</a>
</div>

