@model IEnumerable<Tune_Up.Models.Vehicle>
<p>
    <a class="btn btn-outline-primary" href="/Vehicle/AddVehicle">Add</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.EngineVolume)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </th>

                <td>
                    @Html.DisplayFor(modelItem => item.EngineVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditVehicle", "Vehicle", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "DeleteVehicle", "Vehicle", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-outline-info" href="/Home/Index">Back</a>
</div>
